// primary colours
$purple: #733FC8;
$gray: #48556A;
$black: #19202D;
// font colors
$light-h-color: #ffff;
$dark-p-color: #48556A;
$light-p-color: #cfcfcf;
// font sizes
$h2: 1.25em;
$p-size: 0.8125em;
$font-family: 'Barlow Condensed', sans-serif;
